#wrap-main {
	width: 100%
}

html {
	margin: 0;
	padding: 0;
	color: white;
	font: 14px Arial, sans-serif;
}

.wrap {
	width: 960px;
	outline: 0px solid red;
	margin: 0 auto;
}

.header {
	width: 960px;
	height: 100px;
	outline: 0px solid red;
	display: flex;
	justify-content: space-between;
}

.header-logo {
	height: 80px;
	width: 20%;
	background-color: grey;

}

.header-right {
	height: 80px;
	width: 500px;
	background-color: grey;
}

.main-nav {
	width: 100%;
	height: 80px;
	background-color: grey;
	display: flex;
}

#container {
	display: flex;
}

.main-conteiner {
	display: flex;
	flex-direction: column;
}

.deal {
	width: 460px;
	height: 250px;
	background-color: grey;
	margin-top: 20px;
	margin-right: 20px
}

.partners {
	width: 460px;
	height: 250px;
	background-color: grey;
	margin-top: 20px;
	margin-right: 20px
}

.category {
	width: 460px;
	height: 250px;
	background-color: grey;
	margin-top: 20px;
	margin-right: 20px
}


.conteiner-center {
	display: flex;
	flex-direction: column;
}

.pet {
	width: 250px;
	height: 400px;
	background-color: grey;
	margin-top: 20px;
	margin-right: 20px
}

.m-ship {
	width: 250px;
	height: 370px;
	background-color: grey;
	margin-top: 20px;
	margin-right: 20px
}

.conteiner-right {
	display: flex;
	flex-direction: column;
}

.desc-site {
	width: 210px;
	height: 200px;
	background-color: grey;
	margin-top: 20px;

}

.blog-post {
	width: 210px;
	height: 380px;
	background-color: grey;
	margin-top: 20px;
}

.forum {
	width: 210px;
	height: 170px;
	background-color: grey;
	margin-top: 20px;
}

.footer {
	height: 80px;
	width: 100%;
	background-color: #5a5a5a;
	margin-top: 20px;
	margin-bottom: 30px;
}